.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #271a58;
}

.content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.topTitle {
  margin-top: 35px;
  font-size: 1.25rem;
  line-height: 23px;
  font-weight: normal;
  letter-spacing: -0.05px;
  color: #ffffff;
  opacity: 0.5;
}

.leadGroup {
  margin-top: 17px;
  display: flex;
  position: relative;
}

.leadText {
  font-size: 60px;
  line-height: 54.9px;
  color: #f4f4ff;
}

.sticker {
  position: absolute;
  top: -32px;
  right: -75px;
}

.fitnessCards {
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.footer {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

//Адаптив
@media screen and (max-width: 430px) {
  .topTitle {
    margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }
  .fitnessCards {
    margin-top: 17px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .leadGroup {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .leadText {
    padding: 0px 5px;
    display: flex;
    text-align: center;
    line-height: 1em;
    font-size: 1.8rem;
  }
  .sticker {
    width: 130px;
    display: flex;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 100;
  }
  .fitnessCards {
    margin-top: 55px;
  }
}
