.box {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c52524a;
}

.content {
  width: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
}

.inputs {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text {
  width: 100%;
  height: 80px;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  line-height: 24px;
}
