.courseContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  margin-top: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.previousWorkoutButton {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.nextWorkoutButton {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.video {
  margin-top: 40px;
  width: 1160px;
  height: 639px;
  margin-bottom: 75px;
}

.description {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.tasksList {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 420px;
  gap: 5px;

  &Item {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 30px;
  }
}

.progress {
  width: 638px;
  background-color: #f2f2f2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 32px;

  &Items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  &Item {
    width: 539px;
    display: flex;
    justify-content: space-between;

    &Text {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      width: 227px;
    }
  }
}

.successModalBackground {
  position: absolute;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: #271a5890;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successModalContainer {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  padding: 36px 42px 42px;
  border-radius: 12px;
}

//Адаптив
@media screen and (max-width: 430px) {
  .navigation {
    width: 100%;
  }
  .previousWorkoutButton {
    font-size: 16px;
  }
  .nextWorkoutButton {
    font-size: 16px;
  }

  .title {
    text-align: center;
  }
  .heading {
    text-align: center;
  }
  .video {
    padding: 10px;
    margin-top: 40px;
    width: 430px;
    height: 260px;
    margin-bottom: 75px;
  }
  .description {
    display: flex;
    flex-direction: column;
  }

  .progress {
    width: 430px;
    &Item {
      align-items: center;
      width: 420px;
    }
    &Text {
      width: 200px;
    }
  }
}
