.btn {
  height: 48px;
  border-radius: 46px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.base {
  background: #580ea2;
  border: 1px solid #580ea2;
  color: #fff;

  &:hover {
    background: #3f007d;
    border: 1px solid #3f007d;
  }

  &:active {
    background: #271a58;
    border: 1px solid #271a58;
  }
}

.green {
  background: #c7e957;
  border: 1px solid #c7e957;
  color: #000;

  &:hover {
    background: #c5db7e;
    border: 1px solid #daf289;
  }

  &:active {
    background: #d4eb8a;
    border: 1px solid #d4eb8a;
  }
}

.transparent {
  background: transparent;
  border: 1px solid #d0cece;
  color: #000;

  &:hover {
    background: #d0cece;
  }

  &:active {
    background: #d9d9d9;
  }
}

.red {
  background: #f65a5a;
  border: 1px solid #f65a5a;
  color: #fff;

  &:hover {
    background: #ff7d7d;
    border: 1px solid #ff7d7d;
  }

  &:active {
    background: #e44040;
    border: 1px solid #e44040;
  }
}
