.container {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 88%;
  background-position-y: center;
  padding: 30px;
  height: 310px;
}

@media screen and (max-width: 430px) {
  .container {
    width: 420px;
    padding: 20px;
  }
}
