.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-top: 75px;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 56px;
}

.text {
  margin-top: 20px;
  font-size: 24px;
  line-height: 32px;
}

.password {
  display: flex;
  align-items: center;
  gap: 30px;
}

.editBox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cards {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.notFound {
  font-size: 32px;
}

//Адаптив
@media screen and (max-width: 430px) {
  .content {
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 2.5rem;
  }
  .cards {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
  }
}
