.wrapper {
  position: fixed;
  top: center;
  left: calc(50vw - 98px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  z-index: 10;
}
