* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Stratos-Regular';
}

@font-face {
  font-family: 'Stratos-Regular';
  src:
    local('Stratos-Regular'),
    url('../src/assets/fonts/Stratos-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
