.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    margin-bottom: 36px;

    &Message {
      font-size: 48px;
      font-weight: 400;
    }
  }
}

//Адаптив
@media screen and (max-width: 430px) {
  .wrapper {
    .info {
      font-size: 60px;
      font-weight: 700;
      line-height: 42px;
      text-align: center;

      &Message {
        font-size: 26px;
        font-weight: 400;
      }
    }
  }
}
